<div class="center jumbotron">
  <h4> <b> Avec The Gossip Project, partagez et restez en contact avec votre entourage. </b></h4> <br><br><br>
 
  <h2>Inscription </h2>
   
   <h5> C'est gratuit (et ça le restera toujours) </h5> <br>
  <%= link_to "Inscription", '/registration/new', class: "btn btn-lg btn-success" %>



  
   <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> 

</div>
