<div class="center jumbotron">


<br>
<h1>Votre utilisateur a bien été créé.</h1>
<h2>Cliquez<a href='/user/login'> ici </a>pour vous connecter.</h2>


<br><br><br><br><br><br>
<br><br><br>
<br><br><br>

</div>